.merch-shop {
    height: 100%;
    width: 100%;
    display: flex;

}

.all-merch-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 14px;
    background: rgb(88, 88, 88);
    background: radial-gradient(circle, #ffee00 0%, #e29912 50%, #f57e0e 100%);
}

.item-description {
    padding: 22px;
    border-radius: 20px;
    background-color: #ffffff;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    letter-spacing: 1px;
    color: #4b4b4b;
}

.item-description:hover {
    transition-duration: .2s;
      -webkit-transition-duration: .2s;
      -moz-transition-duration: .2s;
    box-shadow:
        0 2.8px 2.2px rgba(43, 43, 43, 0.11),
        0 6.7px 5.3px rgba(37, 37, 37, 0.11),
        0 12.5px 10px rgba(44, 44, 44, 0.144),
        0 22.3px 17.9px rgba(39, 39, 39, 0.116),
        0 41.8px 33.4px rgba(48, 48, 48, 0.13),
        0 100px 80px rgba(37, 37, 37, 0.144)
}

.product-img {
    padding: 15px;
    background-color: #ffffff;
    
}

/* .product-description {
    background-color: #ffffff;
} */

.text-below {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* padding: 5px; */
}

.product-name {
    padding: 4px;
}

.product-price {
    margin: 10px;
    padding: 4px;
}

.add-to-cart-button {
    border: none;
    background: transparent;
    color: #ff7b00;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 4px;
}

.add-to-cart-button:hover {
    color: #ff7b00;
    border: 1.5px solid #ff7b00;
    border-radius: 3px;
    letter-spacing: 1.75px;
    transition-duration: .2s;
      -webkit-transition-duration: .2s;
      -moz-transition-duration: .2s;
    cursor: pointer;
}

.cart-view {
    width: 75vw;
    
}