.header {
    height: 15vh;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;

}

.logo {
    height: 15vh;
    width: 175px;
    background-image: linear-gradient(to top left,#8bffec  0%,  #44fcdd  50%,  #12ffd8 100%);
}

.header-content {
    width: 85vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kickback-and-nav {
    height: 15vh;
    margin-left: 37px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
	align-items: baseline;
}

.dash-kickback {
    display: flex;
    align-content: center;
    font-size: 64px;
    letter-spacing: 0.2em;
    font-family: "Gill Sans", sans-serif;
    background: -webkit-linear-gradient(#ffae00, #f57e0e);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    
}

.nav-buttons {
    width: 500px;
    display: flex;
    margin-bottom: 10px;
}

.dashboard-button {
    font-size: 25px;
    letter-spacing: 0.2em;
    border: none;
    color: #4b4b4b;
    background-color: transparent;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.merchstore-button {  
    font-size: 25px;
    letter-spacing: 0.2em;
    margin-left: 38px;
    border: none;  
    color: #4b4b4b;
    background-color: transparent;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.greeting-and-logout {
    height: 11vh;
    width: 32vw;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	align-items: flex-end;
}

.greeting {
    color: #4b4b4b;
    font-size: 32px;
    letter-spacing: 0.2em;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logout-button {
    font-size: 25px;
    margin-bottom: 1.69px;
    letter-spacing: 0.2em;
    border: none;
    color: #4b4b4b;
    background-color: transparent;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:hover { 
    /* color: #e29a0f; */
    color: #747474;
    transition-duration: .2s;
      -webkit-transition-duration: .2s;
      -moz-transition-duration: .2s;
    cursor: pointer;
}