.header {
    height: 15vh;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;

}

.logo {
    height: 15vh;
    width: 15vw;
    background-image: linear-gradient(to top left,#3fffcf 0%, #6bfed9 50%, #f57e0e 100%);
}

.kickback-and-nav {
    margin-left: 37px;
    display: flex;
    justify-content: space-around;
	align-items: center;
}

.header-content {
    width: 85vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dash-kickback {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 64px;
    letter-spacing: 0.2em;
    font-family: "Gill Sans", sans-serif;
    background: -webkit-linear-gradient(#d2fff4, #6bfed9);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    
}

.greeting-and-logout {
    margin-right: 40px;
}

.greeting {
    color: rgb(85, 85, 85);
    font-size: 32px;
    letter-spacing: 0.2em;
}