.dashboard {
    height: 100%;
    width: 100%;
    /* background-color: rgb(99, 99, 99); */
    background: rgb(100, 100, 100);
    background: radial-gradient(circle, rgb(126, 126, 126) 0%, rgb(83, 83, 83) 100%);
    display: flex;
    justify-content: space-around;
}

.dashboard-left {
    height: 85vh;
    width: 40vh;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.spiff-display {
    height: 275px;
    background-color: #1b1b1b;
    border: 6px solid #3effdf;
    border-radius: 3px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Oxygen-Sans, Ubuntu, Cantarell,
               "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 13.5px;

    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
}

.spiff-message {
    color: #3effdf;
    font-size: 36px;
    margin-top: 20px;
}

.spiff-total {
    color: #ff8b1e;
    font-size: 57px;
    margin-bottom: 55px;
}

.countdown-display {
    border: 6px solid #3effdf;
    border-radius: 3px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Oxygen-Sans, Ubuntu, Cantarell,
               "Helvetica Neue", sans-serif;
    background-color: #1b1b1b;
    color: #3effdf;
    font-size: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;

    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
}

.chartjs-display {
    border: 6px solid #3effdf;
    border-radius: 3px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Oxygen-Sans, Ubuntu, Cantarell,
               "Helvetica Neue", sans-serif;
    background-color: #1b1b1b;
    color: #3effdf;
    font-size: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 85px;
    margin-bottom: 13.5px;

    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
}

.dashboard-deals {
    height: 85vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.deals-display {
    height: 60vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    overflow-y: auto;

    margin-top: 10px;
    border: 6px solid #3effdf;
    border-radius: 3px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Oxygen-Sans, Ubuntu, Cantarell,
               "Helvetica Neue", sans-serif;
    background-color: #1b1b1b;
    color: #3effdf;
    
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
}

.deals-display::-webkit-scrollbar {
    width: .5em;
}

/* Track */
.deals-display::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(26, 26, 26, 0.3);
    /* border-radius: 10px; */
}

/* Handle */
.deals-display::-webkit-scrollbar-thumb {
    background: #4b4b4b;
    border-radius: 50px;
}

/* Handle on hover */
.deals-display::-webkit-scrollbar-thumb:hover {
    background: #747474;
}

.your-deals {
    font-size: 25px;
    color: #ff8b1e;
    padding: 15px;
}

.deals-form {
    height: 10vh;
    width: 40vw;
    display: flex;
    
    justify-content: space-around;
    margin-bottom: 40px;
    border: 6px solid #3effdf;
    border-radius: 3px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Oxygen-Sans, Ubuntu, Cantarell,
               "Helvetica Neue", sans-serif;
    background-color: #1b1b1b;
    color: #3effdf;
    
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
}

.add-new-deal {
    font-size: 17px;
    color: #ff8b1e;
    padding: 10px 10px 5px 10px;
}

.input-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.each-deal {
    height: 3.5vh;
    width: 29vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10.4px;
    margin-bottom: 11px;
    border: 2px solid #8f9997;
    border-radius: 2px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Oxygen-Sans, Ubuntu, Cantarell,
               "Helvetica Neue", sans-serif;
    background-color: #1b1b1b;
    color: #3effdf;
    

    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
}

.each-deal-left-portion {
    width: 65%;
    display: flex;
    align-items: center;
}

.customer-name {
    padding-left: 25px;
}

.each-deal-right-portion {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.deal-edit-button {
    border: none;
    background: transparent;
    color: #6b6b6b;
    cursor: pointer;
}
