.auth-view {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, #ffee00 0%, #e29912 50%, #f57e0e 100%);
    
  }

  .kickback {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 64px;
    letter-spacing: 0.2em;
    font-family: "Gill Sans", sans-serif;
    background: -webkit-linear-gradient(#ffe600, #f57e0e);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  
  .login-box {
    height: 35vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6bfed9;
    box-shadow: 0 0 30px 10px white;
    border-radius: 75px 3px 75px 2px;
  }
  
  .login-content {
    height: 27vh;
    width: 41vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .login-inputs-buttons {
    display: flex;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
  }
  
  .login-inputs {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 30px 0 0;
    
  }
  
  .login-email-box {
    height: 45px;
    width: 260px;
    margin-top: 50px;
    border: none;
    border-radius: 4px;
    color: #9b9b9b;
    font-size: 17px;
    letter-spacing: 3px;
  }
  
  .login-password-box {
    height: 45px;
    width: 260px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    color: #9b9b9b;
    font-size: 17px;
    letter-spacing: 3px;
  }
  
  .login-buttons {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 60px;
    
  }

  .login-button {
    padding: 10px;
    margin-top: 11px;
    font-size: 15px;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 20px;
    color: #a5a5a5e3;
    background-color: #9effe7;
    transition-duration: .2s;
      -webkit-transition-duration: .2s;
      -moz-transition-duration: .2s;
    cursor: pointer;
  }

  .login-button:hover {
    color: #e29a0f;
    background-color: white;
    transition-duration: .2s;
      -webkit-transition-duration: .2s;
      -moz-transition-duration: .2s;
  }

  .register-button {
    padding: 12px;
    margin-bottom: 17px;
    font-size: 15px;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 20px;
    color: #a5a5a5e3;
    background-color: #9effe7;
    transition-duration: .2s;
      -webkit-transition-duration: .2s;
      -moz-transition-duration: .2s;
    cursor: pointer;  
  }

  .register-button:hover {
    color: #e29a0f;
    background-color: white;
    transition-duration: .2s;
      -webkit-transition-duration: .2s;
      -moz-transition-duration: .2s;
  }

  .register {
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 64px;
    letter-spacing: 0.2em;
    font-family: "Gill Sans", sans-serif;
    background: -webkit-linear-gradient(#ffe600, #f57e0e);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  .register-content {
    margin-top: 17px;
    justify-content: center;
    align-items: center;
  }

  .submit-button {
    padding: 12px 7px 12px 7px;
    margin: 0px 5px 17px 5px;
    font-size: 15px;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 20px;
    color: #a5a5a5e3;
    background-color: #9effe7;
    transition-duration: .2s;
      -webkit-transition-duration: .2s;
      -moz-transition-duration: .2s;
    cursor: pointer;
  }

  .submit-button:hover {
    color: #e29a0f;
    background-color: white;
    transition-duration: .2s;
      -webkit-transition-duration: .2s;
      -moz-transition-duration: .2s;
  }

  .register-first {
    height: 45px;
    width: 235px;
    margin: 9px;
    border: none;
    border-radius: 4px;
    color: #9b9b9b;
    font-size: 17px;
    letter-spacing: 3px;
  }

  .register-last {
    height: 45px;
    width: 235px;
    margin: 9px;
    border: none;
    border-radius: 4px;
    color: #9b9b9b;
    font-size: 17px;
    letter-spacing: 3px;
  }

  .register-email {
    height: 45px;
    width: 235px;
    margin: 9px;
    border: none;
    border-radius: 4px;
    color: #9b9b9b;
    font-size: 17px;
    letter-spacing: 3px;
  }

  .register-company {
    height: 45px;
    width: 235px;
    margin: 9px;
    border: none;
    border-radius: 4px;
    color: #9b9b9b;
    font-size: 17px;
    letter-spacing: 3px;
  }

  .register-password {
    height: 45px;
    width: 235px;
    margin: 9px;
    border: none;
    border-radius: 4px;
    color: #9b9b9b;
    font-size: 17px;
    letter-spacing: 3px;
  }

  .reg-register-button {
    padding: 12px 6px;
    margin-bottom: 17px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.2em;
    border: 3px solid white;
    border-radius: 20px;
    color: #a5a5a5e3;
    background-color: #9effe7;
    transition-duration: .2s;
      -webkit-transition-duration: .2s;
      -moz-transition-duration: .2s;
    cursor: pointer;
  }

  .reg-register-button:hover {
    color: #e29a0f;
    background-color: white;
    transition-duration: .2s;
      -webkit-transition-duration: .2s;
      -moz-transition-duration: .2s;
  }
